/* If the page seems too zoomed in, this can be used as a workaround.
body {
    transform: scale(0.7);
    transform-origin: top;
}
*/

.error {
    color: red;
}

.success {
    color: green;
}

.warning {
    color: orange;
}

.hidden {
    visibility: hidden;
}

.large-text {
    font-size: 30px;
}

.very-large-text {
    font-size: 60px;
}

.no-overflow {
    overflow: hidden;
}